<mat-card>
    <mat-card-title>APPLE DISPLAY</mat-card-title>
    <mat-card-subtitle>GOOD APPLES</mat-card-subtitle>
<mat-card-content *ngFor="let apple of goodApples$ | async">
    <mat-card>
        <mat-card-content>ID: {{apple.id}}</mat-card-content>
        <mat-card-content>COLOR: {{apple.color}}</mat-card-content>
        <mat-card-content>SIZE (CM): {{apple.sizeCm}}</mat-card-content>
        <mat-card-content *ngIf="apple.isBad">IT IS BAD!!!</mat-card-content>
    </mat-card>
</mat-card-content>
<mat-card-subtitle>BAD APPLES</mat-card-subtitle>
<mat-card-content *ngFor="let apple of badApples$ | async">
    <mat-card>
        <mat-card-content>ID: {{apple.id}}</mat-card-content>
        <mat-card-content>COLOR: {{apple.color}}</mat-card-content>
        <mat-card-content>SIZE (CM): {{apple.sizeCm}}</mat-card-content>
        <mat-card-content *ngIf="apple.isBad">IT IS BAD!!!</mat-card-content>
    </mat-card>
</mat-card-content>
</mat-card>
