<p>APPLE DISPLAY
<p>
    <hr />
    <p>GOOD APPLES
        <p>
    <hr />

<div *ngFor="let apple of goodApples$ | async">
    <p>ID: {{apple.id}}</p>
    <p>COLOR: {{apple.color}}</p>
    <p>SIZE (CM): {{apple.sizeCm}}</p>
    <p *ngIf="apple.isBad">IT IS BAD!!!</p>
    <hr />
</div>
<hr />
<p>BAD APPLES
    <p>
    <hr />

<div *ngFor="let apple of badApples$ | async">
<p>ID: {{apple.id}}</p>
<p>COLOR: {{apple.color}}</p>
<p>SIZE (CM): {{apple.sizeCm}}</p>
<p *ngIf="apple.isBad">IT IS BAD!!!</p>
<hr />
</div>